{{/* AWS-specific cluster-autoscaler Helm values*/}}
{{/* https://github.com/giantswarm/cluster-autoscaler-app/blob/main/helm/cluster-autoscaler-app/values.yaml*/}}
{{- define "awsClusterAutoscalerHelmValues" }}
{{/* When there are karpenter node pools, we deploy karpenter.
In that case, we add a delay to cluster-autoscaler, so that cluster-autoscaler and karpenter don't fight each other. */}}
{{- if include "hasKarpenterNodePool" . }}
configmap:
  newPodScaleUpDelay: 300s
{{- end }}
{{- end }}
