{{/* Default Helm values for the app */}}
{{/* See schema for the appropriate app version here https://github.com/giantswarm/aws-ebs-csi-driver-app/blob/master/helm/aws-ebs-csi-driver-bundle/values.schema.json */}}
{{- define "defaultAwsEbsCsiDriverHelmValues" }}
clusterID: {{ include "resource.default.name" $ }}
extraVolumeTags: {{ include "resource.default.additionalTags" . | nindent 2 }} 
{{- if (.Values.global.connectivity.proxy).enabled }}
proxy:
  noProxy: "{{ include "cluster.connectivity.proxy.noProxy" (dict "global" $.Values.global "providerIntegration" $.Values.cluster.providerIntegration) }}"
  http: {{ .Values.global.connectivity.proxy.httpProxy | quote }}
  https: {{ .Values.global.connectivity.proxy.httpsProxy | quote }}
{{- end }}
global:
  image:
    registry: {{ include "awsContainerImageRegistry" $ }}
  podSecurityStandards:
    enforced: {{ .Values.global.podSecurityStandards.enforced }}
{{- end }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-aws-ebs-csi-driver-bundle
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  releaseName: {{ include "resource.default.name" $ }}-aws-ebs-csi-driver-bundle
  targetNamespace: {{ $.Release.Namespace | quote }}
  storageNamespace: {{ $.Release.Namespace | quote }}
  chart:
    spec:
      chart: aws-ebs-csi-driver-bundle
      {{- $_ := set $ "appName" "aws-ebs-csi-driver" }}
      version: {{ include "cluster.app.version" $ }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "resource.default.name" $ }}-{{ include "cluster.app.catalog" $ }}
  dependsOn:
      - name: {{ include "resource.default.name" $ }}-cloud-provider-aws
        namespace: {{ $.Release.Namespace }}
  serviceAccountName: automation
  interval: 5m
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  {{- $awsEbsCsiDriverHelmValues := (include "defaultAwsEbsCsiDriverHelmValues" .) | fromYaml -}}
  {{- $customAwsEbsCsiDriverHelmValues := $.Values.global.apps.awsEbsCsiDriver.values -}}
  {{- if $customAwsEbsCsiDriverHelmValues }}
  {{- $awsEbsCsiDriverHelmValues = merge (deepCopy $customAwsEbsCsiDriverHelmValues) $awsEbsCsiDriverHelmValues -}}
  {{- end }}
  {{- if $awsEbsCsiDriverHelmValues }}
  values: {{- $awsEbsCsiDriverHelmValues | toYaml | nindent 4 }}
  {{- end }}
  {{- if $.Values.global.apps.awsEbsCsiDriver.extraConfigs }}
  valuesFrom:
    {{- range $config := $.Values.global.apps.awsEbsCsiDriver.extraConfigs }}
    - kind: {{ $config.kind }}
      name: {{ $config.name }}
      valuesKey: values
      optional: {{ $config.optional | default false  }}
    {{- end }}
  {{- end }}
