apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-aws-ebs-csi-driver
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  suspend: false # It can be unsuspended by the post-install/post-upgrade hook. Useful if we need to populate some fields later on.
  releaseName: aws-ebs-csi-driver
  targetNamespace: kube-system
  storageNamespace: kube-system
  chart:
    spec:
      chart: aws-ebs-csi-driver-app
      # used by renovate
      # repo: giantswarm/aws-ebs-csi-driver-app
      version: 2.21.1
      sourceRef:
        kind: HelmRepository
        name: {{ include "resource.default.name" $ }}-default
  dependsOn:
      - name: {{ include "resource.default.name" $ }}-cloud-provider-aws
        namespace: {{ $.Release.Namespace }}
  kubeConfig:
    secretRef:
      name: {{ include "resource.default.name" $ }}-kubeconfig
  interval: 10m
  install:
    remediation:
      retries: 30
  values:
    controller:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
  {{- if .Values.connectivity.proxy }}
    proxy:
      noProxy: {{ .Values.connectivity.proxy.noProxy }}
      http: {{ .Values.connectivity.proxy.httpProxy }}
      https: {{ .Values.connectivity.proxy.httpsProxy }}
  {{ end }}
