{{/* Default Helm values for the app */}}
{{/* See schema for the appropriate app version here https://github.com/giantswarm/karpenter-app/blob/main/helm/karpenter/values.schema.json */}}
{{- define "defaultkarpenterHelmValues" }}
additionalLabels:
  application.giantswarm.io/team: {{ index .Chart.Annotations "application.giantswarm.io/team" | default "phoenix" | quote }}
  giantswarm.io/managed-by: {{ .Release.Name | quote }}
  giantswarm.io/service-type: managed
clusterID: {{ include "resource.default.name" $ }}
region: {{ include "aws-region" $ }}
workersIamRole: arn:{{ include "aws-partition" $ }}:iam::{{ include "aws-account-id" $ }}:role/{{ include "resource.default.name" $ }}-worker
settings:
  clusterEndpoint: {{ printf "%s.%s.%s" "http://api" (include "resource.default.name" $) .Values.global.connectivity.baseDomain }}
  clusterName: {{ include "resource.default.name" $ }}
  interruptionQueue: {{ include "resource.default.name" $ }}-karpenter
controller:
  env:
    - name: AWS_REGION
      value: {{ include "aws-region" $ }}
    - name: AWS_ROLE_ARN
      value: arn:{{ include "aws-partition" $ }}:iam::{{ include "aws-account-id" $ }}:role/{{ include "resource.default.name" $ }}-karpenter
    - name: AWS_WEB_IDENTITY_TOKEN_FILE
      value: /var/run/secrets/eks.amazonaws.com/serviceaccount/token
  extraVolumeMounts:
    - name: aws-iam-token
      mountPath: /var/run/secrets/eks.amazonaws.com/serviceaccount/
      readOnly: true
  image:
    repository: {{ include "awsContainerImageRegistry" . }}/giantswarm/karpenter-controller
dnsPolicy: Default
extraVolumes:
  - name: aws-iam-token
    projected:
      sources:
        - serviceAccountToken:
            audience: {{ include "awsApiServerApiAudiences" $ | trim }}
            expirationSeconds: 86400
            path: token
nodeSelector:
  node-role.kubernetes.io/control-plane: ""
serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:{{ include "aws-partition" $ }}:iam::{{ include "aws-account-id" $ }}:role/{{ include "resource.default.name" $ }}-karpenter
tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
{{- end }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: {{ include "resource.default.name" $ }}-karpenter-bundle
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  {{- $_ := set $ "appName" "karpenter" }}
  url: oci://gsoci.azurecr.io/charts/giantswarm/karpenter-bundle
  ref:
    tag: "{{ include "cluster.app.version" $ }}"
  interval: 1h
  timeout: 60s
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-karpenter-bundle
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  releaseName: {{ include "resource.default.name" $ }}-karpenter-bundle
  targetNamespace: {{ $.Release.Namespace | quote }}
  storageNamespace: {{ $.Release.Namespace | quote }}
  chartRef:
    kind: OCIRepository
    name: {{ include "resource.default.name" $ }}-karpenter-bundle
  serviceAccountName: automation
  interval: 5m
  timeout: 15m # We need a bigger timeout because it could take a while for IRSA (via CloudFront) to become available
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  {{- $karpenterHelmValues := (include "defaultkarpenterHelmValues" .) | fromYaml -}}
  {{- $customkarpenterHelmValues := $.Values.global.apps.karpenter.values -}}
  {{- if $customkarpenterHelmValues }}
  {{- $karpenterHelmValues = merge (deepCopy $customkarpenterHelmValues) $karpenterHelmValues -}}
  {{- end }}
  {{- if $karpenterHelmValues }}
  values: {{- $karpenterHelmValues | toYaml | nindent 4 }}
  {{- end }}
  {{- if $.Values.global.apps.karpenter.extraConfigs }}
  valuesFrom:
  {{- range $config := $.Values.global.apps.karpenter.extraConfigs }}
  - kind: {{ $config.kind }}
    name: {{ $config.name }}
    valuesKey: values
    optional: {{ $config.optional | default false }}
  {{- end }}
  {{- end }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: {{ include "resource.default.name" $ }}-karpenter-taint-remover
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  {{- $_ := set $ "appName" "karpenter-taint-remover" }}
  url: oci://gsoci.azurecr.io/charts/giantswarm/capa-karpenter-taint-remover
  ref:
    tag: "{{ include "cluster.app.version" $ }}"
  interval: 1h
  timeout: 60s
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-karpenter-taint-remover
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    {{- include "labels.common" . | nindent 4 }}
spec:
  releaseName: karpenter-taint-remover
  targetNamespace: karpenter
  storageNamespace: karpenter
  chartRef:
    kind: OCIRepository
    name: {{ include "resource.default.name" $ }}-karpenter-taint-remover
  kubeConfig:
    secretRef:
      name: {{ include "resource.default.name" $ }}-kubeconfig
  interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
