[Unit]
Description=Prepare the instance-store disks for /var/lib/kubelet

# Avoid an ordering cycle: the default orders after `local-fs.target`, but we need to run this and `var-lib-kubelet.mount` before that
DefaultDependencies=no

Conflicts=shutdown.target
After=systemd-udevd.service
Before=kubeadm.service shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/setup-instance-store.sh
