apiVersion: v2
name: cluster-aws
type: application
version: 6.4.0
description: A helm chart for creating Cluster API clusters with the AWS infrastructure provider (CAPA).
icon: https://s.giantswarm.io/app-icons/aws/2/dark.svg
home: https://github.com/giantswarm/cluster-aws
sources:
  - https://github.com/giantswarm/cluster-aws
annotations:
  application.giantswarm.io/app-type: cluster
  application.giantswarm.io/team: phoenix
restrictions:
  compatibleProviders:
    - aws
    - capa
dependencies:
  - name: cluster
    version: "4.4.0-dbe38e866a81671f4c3a72633101f1871290f1c9"
    repository: https://giantswarm.github.io/cluster-test-catalog
  - name: cluster-shared
    version: "0.7.1"
    repository: https://giantswarm.github.io/cluster-catalog
